<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title><%= content_for(:title) || "Records" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <!-- Load web font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= vite_stylesheet_tag "styles.css" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
